
.circular-progress {
    transform: rotate(-90deg);
  }
  
  .progress-track {
    fill: none;
    stroke-width: 16;
  }
  
  .progress-indicator {
    fill: none;
    stroke: rgba(255,255,255, 0.3);
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 1000;
    transition: stroke-dasharray 1s linear;
  }

  .session-name{
    color: var(--RoyalBlue, #4758DC);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .session-name-break{
    color: var(--Lavender, #BB6BD9);
  }
  
  .session-name-complete{
    color: var(--Salem, #058F23);
  }


  @media only screen and (max-width: 767px) {
    .session-name{
      font-size: 18px;
    }
  }