.navbar{
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;

    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    
    background: var(--White, #FFF);
    border-bottom: 2px solid var(--RoyalBlue, #4758DC);

    z-index:1000;
}
.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.name-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

span {
    font-weight: 500;
    font-size: 12px;
}