.section{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    padding: 10px;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    background: var(--Gallery, #EFEFEF);
}
.section_header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.section_header_title{
    font-size: 16px;
    font-weight: 600;
}

.section_tasks-list{
    display: flex;
    flex: 1;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-self: stretch;
    overflow-y: auto;
}